@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

footer#footer {
  background-color: #f6f6f6;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

p {
  font-size: 14pt !important;
}

h4 {
  font-size: 14pt;
}

.container {
  margin-top:0;
  margin-bottom:0;
}

.navbar-brand  {
  float: left;
  padding: 5px 5px 5px 10px;
}

a#navbar {
  color: #9d0208;
}

a#navbar:hover {
  color: #6A040F;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.dropdown-menu {
  padding: 10px;
  border-radius: 4px;
  border-color: #f8f8f8;
}

.img-fluid {
  width: 100%;
  height: auto;
}

a#buttonIndex {
  padding: 20px;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #370617;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #9d0208;
  margin-left:30px;
  margin-right:30px;
  transition: .1s linear all;
}

a#buttonPerfil {
  max-width: 215px;
  padding: 10px;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #370617;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #6A040F;
  transition: .1s linear all;
}

.topic-grid-item {
  min-height: 75px;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #370617;
  background-color: #FFFFFF;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 17px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: .1s linear all;
  margin-left: .5%;
  margin-right: .5%;
}

.topic-grid-item:hover {
  transform: scale(1.001);
  cursor: pointer;
  transition: linear 20s all;
}

a#category-link {
  text-decoration: none;
  color: #9d0208;
}

a#color-red {
  text-decoration: none;
  color: #9d0208;
  border-bottom: dotted 1px #6A040F;
}

a#color-red:hover {
  text-decoration: none;
  color: #6A040F;
  border-bottom: none;
}

a#color-black{
  text-decoration: none;
  color: #03071E;
}

a#color-black:hover {
 color: #9d0208;
}

div img#imagem_user {
  float: left;
  margin: 10px 40px 40px 0;
  min-width: 140px;
  border-radius: 100px;
  border: 1px solid #ddb9b9;
}
