<p>{{_('Olá,')}} {{ user.username }},</p>
<p>
    {{_('Para renomear sua senha')}}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        {{_('Clique aqui')}}</a>.
</p>
<p>{{_('Como alternativa, você pode colar o seguinte link na barra de endereço do seu navegador:')}}</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>{{_('Caso você não tenha solicitado renomeação de senha, simplesmente ignore está mensagem.')}}</p>
<p>{{_('Atenciosamente,')}}</p>
<p><a href="dadoslivres.org">{{_('Dados Livres')}}</a></p>
