{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{_('Sobre')}}</h1><br><br><br>
    <p class="text-justify">
      <strong>Plataforma que permite o compartilhamento e a colaboração na
      identificação de Fontes de Dados Abertos e Aplicações que fazem uso
      dessas informações.</strong><br><br>
      Suas fontes e aplicações podem ser facilmente cadastradas por
      qualquer usuário, pois Dados Livres não exige nenhum conhecimento de
      código, dessa maneira, permitindo encontrar vários possíveis colaboradores.
      Além das suas bases de dados poderem ser ligadas as aplicações criadas
      e vice-versa.<br><br>
      A iniciativa surgiu como um projeto de pesquisa do IFRN —
      campus Ceará-Mirim, no ano de 2019, aonde partiu do interesse de dois
      alunos (Luiz Felipe e <a href="https://t.me/carols0" id="color-red"
      target="_blank">Carolina Soares</a>) que queriam começar a contribuir
      com projetos licenciados em Software Livre. Logo, a ideia de desenvolver
      uma Plataforma Livre de Dados Abertos foi apresentada
      pelo professor e mestre <a href="https://t.me/pbaesse" id="color-red"
      target="_blank">Pedro Baesse</a>.<br><br>
      <em><strong>Dados abertos</strong> “são dados que podem ser livremente usados,
      reutilizados e redistribuídos por qualquer pessoa — sujeitos,
      no máximo, à exigência de atribuição da fonte e compartilhamento pelas
      mesmas regras” <a href="https://www.ok.org.br/dados-abertos/" id="color-red"
      target="_blank">(Open Knowledge Foundation)</a>.</em> A disponibilidade dessas
      informações se direcionadas a sociedade civil gera maior controle social,
      aumenta a transparência pública, fortalece a democracia e reforça a
      inovação tecnológica.<br><br>
      Dados Livres incentiva o empoderamento da sociedade cívil, criando uma nova
      comunidade que possa discutir, decidir projetos de lei e reivindicar mudanças em suas
      localidades em um novo caminho de decições.<br><br>
    </p>
  </div>
</div>
{% endblock %}
