<html>

<head>
    <title>Plataforma</title> 
</head>
<body>
    <div>
        Páginas:
        <a href="{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('login') }}"> Login </a>
    </div> 
    <hr>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <!-- traduzir horas e datas
    {% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    {% endblock %}
    -->
    
    {% block content %}{% endblock %}       
</body>

</html>
