    {% block title %}
    	{% if title %} {{ title }} - Plataforma 
    	{% else %} {{ _('Bem vindo a Plataforma!') }} 
    	{% endif %}
    {% endblock %}
    
    <div>
        Páginas:
        <a href="{{ url_for('index') }}"> Início</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}"> Entrar</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Perfil</a>
        <a href="{{ url_for('logout') }}"> Sair</a>
        {% endif %}
    </div> 
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %} 
