{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
			<h1>{{ _('Encontre por mais fontes e softwares!') }}</h1>

			{% for post in posts %}
				{% include '_post.html' %}<br>
			{% endfor%}

			{% for software in softwares %}
				{% include '_software.html' %}<br>
			{% endfor%}

			{% if prev_url %}
			<a href="{{ prev_url }}">Fontes mais recentes</a>
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}">Fontes mais antigas</a>
			{% endif %}

{% endblock %}
