{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <h1 class="text-center">{{_('Como contribuir?')}}</h1><br><br>
  <div class="col-md-12 text-justify">
    <p>Ficamos felizes que queira contribuir com o projeto! Dados Livres, é
      desenvolvido pensando em ser um ambiente de compartilhamento e
      principalmente de colaboração de seus usuários. Confira abaixo algumas
      possíveis maneiras de fazer contribuições:</p><br><br>
    <p><strong>Comunidade</strong><br><br>
      A sua primeira contribuição pode ser entrar e participar da nossa comunidade
      Dados Livres no <a href="#" id="color-red">Telegram</a>.</p><hr><br>
    <p><strong>Fontes e Aplicações</strong><br><br>
      Precisamos de sua ajuda para tornar Dados Livres uma plataforma diversa
      de fontes e aplicações abertas de conhecimento e utilização para todos os
      públicos. Qualquer usuário comum,
      <a href="{{url_for('auth.login')}}" id="color-red" target="_blank">inscrito</a>
      na plataforma, pode contribuir registrando uma
      <a href="{{url_for('main.register_source')}}" id="color-red" target="_blank">fonte aberta</a>
      ou uma <a href="{{url_for('main.register_software')}}" id="color-red" target="_blank">aplicação aberta</a>
      com o simples preenchimento de formulários.</p><hr><br>
      <p><strong>Desenvolvimento de Software</strong><br><br>
      Dados Livres é um Software Livre de código aberto disponível em nosso
      repositório no <a href="https://gitlab.com/pbaesse/dados-livres" id="color-red" target="_blank">GitLab</a>,
      confira algumas de nossas issues e o arquivo Readme.me para saber como instalar.
      O sistema usa a linguagem de programação Python e a MicroFramework Flask.</p><hr><br>
      <p><strong>Testes</strong><br><br>
      Ajude a aplicar testes de software utilizando os conceitos de TDD.
      Relatando bugs e melhorando a qualidade da nossa aplicação.</p><hr><br>
      <p><strong>Design</strong><br><br>
      Aumente as interações e melhore a experiência dos usuários com a interface.
      Ajude a aplicar os fundamentos de design UX e UI. Contribua para que Dados
      Livres tenha um Design único de cores e fontes chamativas, além de uma
      logo mais relacionada com o objetivo da plataforma.</p><hr><br>
      <p><strong>Tradução</strong><br><br>
      Melhore as traduções do sistema, contribua para que Dados Livres seja
      acessível em outros idiomas. Ajude a traduzir fontes e aplicações que
      são registradas pelos próprios usuários da plataforma.</p><hr><br>
      <p><strong>Documentação</strong><br><br>
      Ajude melhorando o texto de nossa documentação.</p><hr><br>
      <p><strong>Segurança</strong><br><br>
      Reforce a segurança da plataforma. Encontre possíveis falhas no sistema.</p><hr><br>
      <p><strong>API</strong><br><br>
      Ajude no desenvolvimento de uma API Web para Dados Livres disponibilizada
      em código aberto.</p><hr><br>
    </p>
  </div>
</div>
{% endblock %}
