{% extends "base.html" %}

{% block content %}
    <h1>Tela de Login</h1>
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </P>
        <P>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
        </P>
        <P> {{ form.remember_me() }} {{ form.remember_me.label }} </P>
        <P> {{ form.submit() }} </P>
    </form>
    
{% endblock %}
