{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<table class="table table-hover">
    <tr valign="top">
        <td width="256px"><img src="{{ post.avatar(256) }}"></td>
        <td>
              <h1>{{ _('Fonte') }}: {{ post.title }}</h1>
              {% if post.tag %}<p>{{ _('Palavras-chave') }}: {{ post.tag }}</p>{% endif %}
              {% if post.categorie %}<p>{{ _('Categoria') }}: {{ post.categorie }}</p>{% endif %}
              {% if post.sphere %}<p>{{ _('Esfera') }}: {{ post.sphere }}</p>{% endif %}
              {% if post.description %}<p>{{ _('Descrição') }}: {{ post.description }}</p>{% endif %}
              {% if post.officialLink %}<p>{{ _('Link Oficial') }}: <a href="{{ post.officialLink }}" target="_blank"> {{ post.officialLink }}</a></p>{% endif %}
              {{ _('Cadastrado por') }}: <a href="{{ url_for('main.user', username=post.author.username ) }}">
                {{ post.author.username }} </a><br><br>

              {% if not current_user.is_anonymous %}
              <p><a href="{{ url_for('main.edit_post', id=post.id) }}">{{ _('Editar fonte') }}</a> |
                <a href="{{ url_for('main.deletar_post', id=post.id) }}">{{ _('Excluir fonte') }}</a></p>
              {% endif %}

                <p><a href="{{ url_for('main.favorite', title=post.title) }}">{{ _('Favoritar') }}</a> |
                  <a href="{{ url_for('main.unfavorite', title=post.title) }}">{{ _('Deixar de favoritar') }}</a></p>
        </td>
    </tr>
</table>

<br>
<h2>Softwares Relacionados com {{ post.title }}: </h2>
<hr>
<p>....</p>
<br>
<p>Relacione um software parecido com a fonte {{ post.title }}: </p>
<p><a href="{{ url_for('main.register_source') }}">{{ _('Relacionar fonte com um software existente') }}</a> |
<a href="{{ url_for('main.register_source') }}">{{ _('Cadastrar um novo software para relacionar com a fonte') }}</a></p>
<br><br>

<h2>Comentários:</h2>
{% for comment in comments %}
    {% include '_comment.html' %}<br>
{% endfor %}
<hr>

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% if prev_url %}
<a href="{{ prev_url }}">Mais recentes</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Mais antigas</a>
{% endif %}

{% endblock %}
