{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% if source.title %}{{ source.title }}{% endif %}</h1><br><br>
        <p>{{_('Categoria')}}: {% for category in source.categories %}
          {{ category }}{% endfor %} |
        {% if source.sphere %}{{_('Esfera')}}: {{ source.sphere }}{% endif %}
        {% if source.city %}| {{_('Município')}}: {{source.city}}{% endif %}
        {% if source.state %}| {{_('Estado')}}: {{source.state}}{% endif %}
        {% if source.country %}| {{_('País')}}: {{source.country}}{% endif %}</p>
        <p>{{_('Palavras-Chaves')}}: {% for tag in source.tags %}{{ tag }}{% endfor %}</p>
        <p>{% if source.description %}{{ source.description }}{% endif %}</p>
        {% if source.user_id == current_user.id %}
          <p><a href="{{ url_for('main.edit_source', id=source.id) }}" id="color-red">{{_('Editar Fonte')}}</a> |
            <a href="{{ url_for('main.deletar_source', id=source.id) }}" id="color-red">{{_('Apagar Fonte')}}</a></p>
        {% endif %}
        <br><h4><a href="{{ source.officialLink }}" id="buttonPerfil" target="_blank">{{_('Visitar Página Oficial')}}</a><h4><br>
        <h4>{{_('Aplicação registrada por')}}:
          <a href="{{ url_for('main.user', nickname=source.author.nickname ) }}" id="color-red">
            {{ source.author.nickname }}</a></h4>
    </div>
  </div>
{% endblock %}
