{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
	<h2 class="text-center">{{ _('Encontre as principais categorias de Fontes Abertas') }}</h2><br>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Covid19_Source') }}" id="category-link">{{ _('Corona Vírus') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Health_Source') }}" id="category-link">{{ _('Saúde') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Education_Source') }}" id="category-link">{{ _('Educação') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Culture_Source') }}" id="category-link">{{ _('Cultura') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.PublicSpending_Source') }}" id="category-link">{{ _('Gastos Públicos') }}</a></h4>
	</div>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.MovieTheater_Source') }}" id="category-link">{{ _('Cinema') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Music_Source') }}" id="category-link">{{ _('Música') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Technology_Source') }}" id="category-link">{{ _('Tecnologia') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Countries_Source') }}" id="category-link">{{ _('Países') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Recreation_Source') }}" id="category-link">{{ _('Lazer') }}</a></h4>
	</div>
	<div class="col-sm-4 col-md-4">
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Science_Source') }}" id="category-link">{{ _('Ciência') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.PublicSpending_Source') }}" id="category-link">{{ _('Segurança Pública') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Environment_Source') }}" id="category-link">{{ _('Meio Ambiente') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.IBGE_Source') }}" id="category-link">{{ _('IBGE') }}</a></h4>
		<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.Climate_Source') }}" id="category-link">{{ _('Clima') }}</a></h4>
	</div>
</div>
{% endblock %}
